/*
    Sunku Ravindranath, Raghav Kishan
    Project #2
    Fall 2017
    820174908
    jadrn063*/

*{
	font-family: 'Audiowide', cursive;
}

.messageLine{
	color: #ff3000;
}

/*.container{
	background-image:  url('aztec-warrior.jpg');
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}*/